body {
    background: linear-gradient(-20deg, #3AAFA9 65%, #DEF2F1 65%);
}

.center-container {
    display: flex;
    justify-content: center;
}

.vertical-container{
	display: flex;
	flex-direction: column;
	/*align-items: center;*/
}

#buttoncontain {
    display: flex;
    justify-content: space-between;
}
/*Output*/
#outputbox {
    background: #f1f1f1;
    padding: 20px;
    border-radius: 25px;
    border: solid 2px #2B7A78;
    width: 50vw;
    height:40vh;
    text-align: center;
    word-wrap: break-word;
    color: #17252A;
    font-size: 1.5em;
    /*font-size: 1.5vw;*/
    margin-top: 3vh;
    margin-bottom: 3vh;
}

/*Drop down menu*/
.drop-content {
    display: none;
    background: #f1f1f1;
    box-shadow: 0px 10px 20px 0px rgba(100, 0, 0, 0.2);
}

.button {
    font-family: "Open Sans";
    border: solid 2px #2B7A78;
    display: inline-block;
    background: #f1f1f1;
    font-size:1em;
    min-width: 10%;
}

.showmenu {
    display: block;
    width: 50%;
}