body {
    background: linear-gradient(-20deg, #3AAFA9 65%, #DEF2F1 65%);
    background-attachment: fixed;
}

.center-container {
    display: flex;
    justify-content: center;
}

.vertical-container {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
}

#buttoncontain {
    display: flex;
    justify-content: space-between;
}

/*Output*/
#outputbox {
    background: #f1f1f1;
    padding: 20px;
    border-radius: 25px;
    border: solid 2px #2B7A78;
    width: 50vw;
    height: 40vh;
    text-align: center;
    word-wrap: break-word;
    color: #17252A;
    font-size: 1.5em;
    /*font-size: 1.5vw;*/
    margin-top: 3vh;
    margin-bottom: 3vh;
}

/*Drop down menu*/
.drop-table {
    display: none;
    background: #f1f1f1;
    box-shadow: 0px 10px 20px 0px rgba(100, 0, 0, 0.2);
    background: #f1f1f1;
}

.dropdown-buttons {}

.dropelement {
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.button {
    font-family: “Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”, “Cantarell”,
        “Fira Sans”, “Droid Sans”, “Helvetica Neue”,
        sans-serif;
    border: solid 2px #2B7A78;
    display: inline-block;
    background: #f1f1f1;
    font-size: 1em;
    min-width: 10%;
    padding: 5px;
}

.dropchoice {
    width: 100%;
    height: 100%;
    margin: 0px;
    border: none;
}

.showmenu {
    display: table;
    width: 20%;
}

.dropelement.questionOn {
    border: 2px green solid;
}

.questionOff {
    border: 2px red solid;
}